---
import clsx from 'clsx'
import Hummingbird from './Hummingbird.astro'

interface Props {
  title?: string
  subtitle?: string
  subtitleIcon?: boolean
  alt?: boolean
  class?: string
  center?: boolean
}

const { title, subtitle, subtitleIcon, alt, class: className = '', center = false } = Astro.props as Props
---

{(title || subtitle) && (
  <h2 class={`${className} ${clsx({ center, 'text-gradient': !alt && !subtitle, h5: subtitle })}`}>
    {subtitle || title}
    {subtitle && subtitleIcon && (
      <Hummingbird width='48' height='48' opacity={0.5} theme='secondary' />
    )}
  </h2>
)}

{(title && subtitle && (
  <h3 class={`h2 ${className} ${clsx({ 'text-gradient': !alt })}`}>{title}</h3>
))}

<style lang='scss'>
  h2 {
    margin: 0;
  }

  h2.h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: var(--font-family-base);
    text-transform: uppercase;
  }

  h2 :global(svg) {
    margin-left: var(--spacer-sm);
    margin-right: calc(-3rem - var(--spacer-sm));
  }

  h3 {
    margin: var(--spacer-xs) 0 0;
  }

  @media (min-width: 979px) {
    h2.h5:not(.center) {
      justify-content: flex-start;
    }
  }
</style>