---
  import Card from './Card.astro'

  interface Props {
    data: CMS.CardBlock
  }

  const { data } = Astro.props as Props
  const { title, subtitle, cards } = data
---

<section>
  <h2 class='text-gradient'>
    {title}
  </h2>

  {subtitle && (
    <p>{subtitle}</p>
  )}

  <main>
    {cards.map((card) => (<Card data={card} />))}
  </main>
</section>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
  }

  h2 {
    order: 2;
    position: relative;
    margin: 0;
    text-align: center;
    margin-bottom: var(--spacer-md);
    color: var(--chisel-primary);
  }

  p {
    order: 1;
    font-weight: 400;
    text-size: var(--chisel-h5);
    font-family: var(--font-family-base);
    text-transform: uppercase;
    text-align: center;
  }

  main {
    order: 3;
    display: flex;
    flex-direction: column;

    & :global(> *:not(:last-child)) {
      margin-bottom: var(--spacer-md);
    }

    & :global(b) {
      color: var(--chisel-secondary);
    }
  }

  @media screen and (min-width: 979px) {
    main {
      flex-direction: row;

      & > :global(*) {
        flex-basis: 100%;
      }

      & > :global(*:not(:last-child)) {
        margin-bottom: 0;
        margin-right: var(--spacer-md);
      }
    }
  }
</style>