---
  import BlockTitle from './BlockTitle.astro'
  import Card from './Card.astro'
  import Icon from './Icon.astro'

  interface Props {
    data: CMS.CardBlock
  }

  const { data } = Astro.props as Props
  const { title, subtitle, cards } = data
---

<section style={`--card-count: ${cards.length || 1}`}>
  <BlockTitle center title={title} subtitle={subtitle} />

  <div>
    <Icon icon='chevron-right' size={64} alt='' />

    {cards.map((card) => (<Card data={card} />))}

    <Icon icon='chevron-left' size={64} alt='' />
  </div>
</section>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
  }

  div {
    position: relative;
    order: 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacer-md);
    align-items: center;
    justify-content: center;
    margin-top: var(--spacer-md);
    align-items: center;
    padding-bottom: 12px;

    & > :global(*:not(svg)) {
      justify-self: center;
      height: 100%;
    }

    & :global(b) {
      color: var(--chisel-secondary);
    }

    & > :global(svg) {
      display: none;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      color: var(--chisel-secondary);

      &:first-of-type {
        left: -7rem;
      }

      &:last-of-type {
        right: -7rem;
      }
    }
  }

  @media screen and (min-width: 1240px) {
    div {
      grid-template-columns: repeat(var(--card-count), 1fr);
    }
  }

  @media screen and (min-width: 1440px) {
    div > :global(svg) {
      display: block;
    }
  }
</style>