---
  import Card from './Card.astro'
  import Hummingbird from './Hummingbird.astro'

  interface Props {
    data: CMS.CardBlock
  }

  const { data } = Astro.props as Props
  const { title, cards } = data
---

<section>
  <h2>
    <Hummingbird width='8rem' height='8rem' theme='muted' />
    {title}
  </h2>

  <main>
    {cards.map((card) => (<Card data={card} />))}
  </main>
</section>

<style lang="scss">
  h2 {
    position: relative;
    margin: 0;
    text-align: center;
    margin-bottom: var(--spacer-md);
  }

  h2 :global(svg) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) scaleX(-1);
    z-index: -1;
  }

  main {
    display: flex;
    flex-direction: column;

    & :global(> *:not(:last-child)) {
      margin-bottom: var(--spacer-md);
    }
  }

  @media screen and (min-width: 640px) {
    main {
      flex-direction: row;

      & :global(> *:not(:last-child)) {
        margin-bottom: 0;
        margin-right: var(--spacer-sm);
      }
    }
  }
</style>