---
  import BlockTitle from './BlockTitle.astro'
  import Card from './Card.astro'
  import Icon from './Icon.astro'

  interface Props {
    data: CMS.CardBlock
  }

  const { data } = Astro.props as Props
  const { title, subtitle, cards } = data
---

<section>
  <Icon icon='chevron-right' size={64} alt='' />

  <BlockTitle title={title} subtitle={subtitle} />

  <main>
    {cards.map((card) => (<Card data={card} />))}
  </main>

  <Icon icon='chevron-left' size={64} alt='' />
</section>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    position: relative;

    & > :global(svg) {
      display: none;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      color: var(--chisel-secondary);

      &:first-of-type {
        left: -7rem;
      }

      &:last-of-type {
        right: -7rem;
      }
    }
  }

  main {
    order: 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacer-md);
    align-items: center;
    margin-top: var(--spacer-md);

    & > :global(*) {
      justify-self: center;
    }

    & :global(b) {
      color: var(--chisel-secondary);
    }
  }

  @media screen and (min-width: 1240px) {
    main {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1440px) {
    section > :global(svg) {
      display: block;
    }
  }
</style>