---
import clsx from 'clsx'
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.Card
}

const { data } = Astro.props as Props
const { title, content, cta } = data

const contentHtml = mdToHtml(content)
---

<article>
  <h4>{title}</h4>

  <main>
    {contentHtml}
  </main>

  {cta && (
    <a class={clsx({ button: true, primary: cta.primary, secondary: !cta.primary })} href={cta.url}>{cta.text}</a>
  )}
</article>

<style lang='scss'>
  article {
    background: var(--chisel-neutral-50);
    padding: var(--spacer-md);
    filter: var(--drop-shadow-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    max-width: 35ch;
  }

  h4 {
    margin: 0;
    font-family: var(--font-family-base);
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
  }

  h4, p {
    font-weight: 700;
  }

  main {
    margin: var(--spacer-md) 0 var(--spacer-sm);
    flex: 1;
  }
</style>