---
interface Props {
  title: string
  cta: {
    title: string
    href: string
  }
}

const { title, cta } = Astro.props as Props
---

<section class='full-bleed'>
  <div class='container'>
    <div class='wrapper'>
      <h1>{title}</h1>

      <main>
        <slot />

        {cta && (
          <a class='button' href={cta.href}>{cta.title}</a>
        )}
      </main>
    </div>
  </div>
</section>

<style lang='scss'>
  section {
    padding: var(--spacer-md) 0;
    background: var(--rainbow-gradient);
    color: var(--chisel-neutral-50);
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin-bottom: 0;
    margin-bottom: var(--spacer-md);
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--spacer-md);
    background-color: var(--chisel-neutral-50);
    color: var(--chisel-neutral-900);
    aspect-ratio: 1;
    border-radius: 999px;
    margin: 0 auto;
    max-width: 500px;
    max-height: 500px;
    filter: var(--drop-shadow-lg);
  }

  @media screen and (min-width: 979px) {
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }

    main {
      max-width: 640px;
      max-height: 640px;
    }

    main *:not(.button) {
      font-size; var(--chisel-h5);
    }

    a.button {
      margin-top: var(--spacer-sm);
    }
  }
</style>