---
import Header from './Header.astro'
import Icon from './Icon.astro'
import { mdToHtml } from '../utils/markdown'

interface Props {
  data: CMS.HeroBlock
}

const { data } = Astro.props as Props
const { title, cta, content, image } = data

const contentHtml = mdToHtml(content)
---

<section class='full-bleed' style={`background-image: url(${Astro.resolve('../assets/images/aurora-borealis.jpg')})`}>
  <div class='container'>
    <Header pathname="/" />

    <div class='wrapper'>
      <h1>{title}</h1>

      <main>
        {contentHtml}
      </main>
      
      {cta && (
        <a class="button lg" href={cta.url}>{cta.text}</a>
      )}
    </div>

    <footer>
      <Icon alt='Scroll down' icon='chevron-down' size={64} />
    </footer>
  </div>
</section>

<style lang='scss'>
  section {
    padding: var(--spacer-md) 0;
    color: var(--chisel-neutral-50);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .container {
    height: 100%;
    row-gap: 0;
    grid-template-rows: auto 1fr;
    align-items: center;
  }

  footer {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    grid-area: title;
    margin-bottom: 0;
    text-align: center;
  }

  main {
    font-size: var(--chisel-h5);
    color: var(--chisel-neutral-50);
  }

  @media screen and (min-width: 979px) {
    .wrapper {
      grid-template-columns: 1fr auto;
      grid-template-areas: 'title image' 'content image' 'cta image';
      column-gap: var(--spacer-xl);
    }

    a.button {
      margin-top: var(--spacer-sm);
    }
  }

  @media screen and (min-aspect-ratio: 1 / 1) {
    img {
      max-height: min(50vh, 25rem);
      max-width: min(50vh, 25rem);
    }
  }
</style>