---
import NewsletterForm from './NewsletterForm.astro'

interface Props {
  data: CMS.NewsletterBlock
}

const { data } = Astro.props as Props
const { title, titleIcon, form } = data
---

<section>
  <h2>
    {title}
  </h2>

  <NewsletterForm data={form} />
</section>

<style>
  h2 {
    font-size: var(--chisel-h3);
    font-family: var(--font-family-base);
    text-align: center;
  }
</style>