---
interface Props {
  size: number
  axis: 'vertical' | 'horizontal' | undefined
  inline: boolean | undefined
}

const { size, axis, inline } = Astro.props as Props

const width = axis === 'vertical' ? 1 : size
const height = axis === 'horizontal' ? 1 : size
---

<span class={inline && 'inline'} style={`--spacer-width: ${width}; --spacer-height: ${height};`}></span>

<style lang='scss'>
  span {
    display: block;
    width: var(--spacer-width);
    min-width: var(--spacer-width);
    height: var(--spacer-height);
    min-height: var(--spacer-height);

    &.inline {
      display: inline-block;
    }
  }
</style>